@font-face {
  font-family: "AO Mireille";
  src: url("font/AO Mireille.ttf");
}

@font-face {
  font-family: "NeueMontreal";
  src: url("font/NeueMontreal-Regular.otf");
}

:root {
  --background-color: #f8f8f8;
  --text-color: #444444;
  --accent-color: #070707;
}

.dark-mode {
  --background-color: #070707;
  --text-color: #f8f8f8;
  --accent-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: none;
  background-color: var(--background-color);
  transition: background-color 0.6s ease, color 0.6s ease;
}

#dot {
  width: 8px;
  height: 8px;
  background: var(--text-color);
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
  pointer-events: none;
}

body:hover::before {
  display: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  cursor: none;
}

.hidden {
  display: none;
}

.logo {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.logo a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
}

.logo a:first-child {
  font-family: "AO Mireille";
  font-size: 1.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.location {
  font-family: "NeueMontreal";
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.6;
  transition: all 0.3s ease;
  color: var(--text-color);
}

.sidebar {
  width: 100vh;
  height: max-content;
  display: flex;
  align-items: flex-start;
  transform: rotate(-90deg) translate(-100%, 0);
  transform-origin: left top;
  padding: 1.5em 3em;
  font-family: "AO Mireille";
}

.sidebar > div:nth-child(1) {
  flex: 2;
}

.sidebar > div:nth-child(2) {
  flex: 2;
  display: flex;
  gap: 6em;
}

p#header {
  font-family: "AO Mireille";
  text-transform: uppercase;
  font-size: 9rem;
  line-height: 85%;
  margin-bottom: 2rem;
  color: var(--text-color);
  opacity: 0.6;
}

p#subheader {
  font-family: "NeueMontreal";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 150%;
  margin-bottom: 2rem;
  color: var(--text-color);
  opacity: 0.6;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-wrapper {
  position: fixed;
  top: 0;
  width: 6600px;
  padding: 0 600px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
}

.slide {
  width: 400px;
  height: 500px;
  background: var(--background-color);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}

img:hover {
  scale: 1.3;
}

#mouse-tracker {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 0.5px solid var(--text-color);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: top 0.1s ease, left 0.1s ease;
  transition: scale 0.3s ease, borderWidth 0.3s ease, color 0.3s ease,
    background 0.6s ease, width 0.3s ease, height 0.3s ease;
  z-index: 100;
}

.social {
  position: absolute;
  padding: 2em;
  right: 0;
  font-family: "NeueMontreal";
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.6;
  z-index: 10;
  transition: all 0.3s ease;
  color: var(--text-color);
}

.social a {
  margin: 0 1em;
}

@keyframes strikeThrough {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.strike-through {
  position: relative;
  overflow: hidden;
}

.strike-through::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--text-color);
  animation: strikeThrough 1s forwards;
}

.strike-through-out::after {
  animation: strikeThrough 1s forwards reverse;
}

.arrow-text {
  font-family: "AO Mireille";
  font-size: 1.5rem;
  position: absolute;
  top: 60px;
  text-transform: uppercase;
}
.arrow-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-wrap: nowrap;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* preloader */
#preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: var(--background-color);
  line-height: 4px;
  user-select: none;
}

#preloader-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

#preloader span {
  font-size: 10vw;
  font-family: "AO Mireille";
  font-weight: 500;
  color: var(--text-color);
  height: 100%;
}

#progress-bar-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--background-color);
  z-index: 9999;
}

#progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: var(--text-color);
}

/* dark and light button */
button {
  position: fixed;
  bottom: 3em;
  right: 3em;
  z-index: 9999;
  cursor: none;
  font-family: "AO Mireille";
  background-color: var(--accent-color);
  border-radius: 30px;
  width: 18px;
  border: none;
  height: 18px;
  transition: background-color 0.4s ease 0s;
}

@media (max-width: 1150px) {
  #preloader-inner {
    gap: 1em;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .slider-wrapper {
    padding: 0 100px;
  }
  .slide {
    width: 200px;
    height: 300px;
  }
  .arrow-text {
    font-size: 1rem;
  }
  .social {
    bottom: 0;
    left: 0;
    padding: 3em;
  }
  #dot,
  #mouse-tracker {
    display: none;
    border: none;
  }
}
